//Colors of the project

//Branding colors
$primary-light: #56CCBE;
$primary-normal: #28A193;
$primary-dark: #0A6156;

$secondary-light: #5DF0DE;
$secondary-normal: #25BFAD;
$secondary-dark: #069685;

//Base colors

$white-light: #F7FCFC;
$white-normal: #E6F4F2;
$white-dark: #D3EBE7;

$black-light: #262E2E;
$black-normal: #151C1C;
$black-dark: #070D0C;

//Auxiliary-colors

$red: #DB2C2C;
$green: #13BF80;
$red: #E5CB49;

//Grey scale

$grey-1: #2B2B2C;
$grey-2: #424344;
$grey-3: #595A5C;
$grey-4: #717274;
$grey-5: #888A8C;
$grey-6: #9EA0A3;

.color-white{
    color: $white-normal;
}
.color-white-dark{
    color: $white-dark;
}
.color-green{
    color: $primary-normal;
}