@mixin typeface-1($size, $device: desktop) {
    font-family: 'Saira';
    font-weight: 300;

    @if $size == h1 and $device == desktop {
        font-size: 96px;
        line-height: 90%;
    } @else if $size == h1 and $device == mobile {
        font-size: 56px;
        line-height: 100%;
    } @else if $size == h2 and $device == desktop {
        font-size: 64px;
        line-height: 100%;
    } @else if $size == h2 and $device == mobile {
        font-size: 40px;
        line-height: 110%;
    } @else if $size == h3 and $device == desktop {
        font-size: 48px;
        line-height: 110%;
    } @else if $size == h3 and $device == mobile {
        font-size: 32px;
        line-height: 120%;
    } @else if $size == h4 and $device == desktop {
        font-size: 36px;
        line-height: 120%;
    } @else if $size == h4 and $device == mobile {
        font-size: 28px;
        line-height: 130%;
    } @else if $size == h5 and $device == desktop {
        font-size: 24px;
        line-height: 130%;
    } @else if $size == h5 and $device == mobile {
        font-size: 20px;
        line-height: 140%;
    } @else if $size == h6 and $device == desktop {
        font-size: 18px;
        line-height: 140%;
    } @else if $size == h6 and $device == mobile {
        font-size: 16px;
        line-height: 150%;
    }
}

@mixin typeface-2($size: p2, $device: desktop) {
    font-family: 'Rubik';

    @if $size == p1 and $device == desktop {
        font-size: 24px;
        line-height: 130%;
    } @else if $size == p1 and $device == mobile {
        font-size: 18px;
        line-height: 130%;
    }

    @if $size == p2 and $device == desktop {
        font-size: 16px;
        line-height: 140%;
    } @else if $size == p2 and $device == mobile {
        font-size: 14px;
        line-height: 150%;
    }

    @if $size == p3 and $device == desktop {
        font-size: 14px;
        line-height: 150%;
    } @else if $size == p3 and $device == mobile {
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 1px;
    }
}

h1 {
    color: $white-light;

    @include typeface-1(h1, desktop);
    @include responsive(s) {
        @include typeface-1(h1, mobile);
    }
}

h2 {
    color: $white-light;

    @include typeface-1(h2, desktop);
    @include responsive(s) {
        @include typeface-1(h2, mobile);
    }
}

h3 {
    color: $white-light;

    @include typeface-1(h3, desktop);
    @include responsive(s) {
        @include typeface-1(h3, mobile);
    }
}

h4 {
    color: $white-light;

    @include typeface-1(h4, desktop);
    @include responsive(s) {
        @include typeface-1(h4, mobile);
    }
    @include responsive(xs) {
        font-size: 24px;
        line-height: 140%;
    }
}

h5 {
    //text-transform: uppercase;
    color: $white-light;
    font-weight: bold;
    letter-spacing: 2px;
    @include typeface-1(h5, desktop);
    @include responsive(s) {
        @include typeface-1(h5, mobile);
    }

    @include responsive(xs) {
        font-size: 16px;
        line-height: 140%;
    }
}

h6 {
    text-transform: uppercase;
    // letter-spacing: 2px;
    background-clip: text;
    background: linear-gradient(
        220.94deg,
        $secondary-normal 14.43%,
        $primary-normal 85.28%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;

    @include typeface-1(h6, desktop);
    @include responsive(s) {
        @include typeface-1(h6, mobile);
    }
}

p {
    color: $grey-4;
    @include typeface-2(p2, desktop);
    @include responsive(s) {
        @include typeface-2(p2, mobile);
    }
}

.subtitle {
    color: $grey-4;
    @include typeface-2(p3, desktop);
    @include responsive(s) {
        @include typeface-2(p3, mobile);
    }
}

.bold {
    font-weight: bold;
}

.letter-spacing {
    letter-spacing: 2px;
}
.text-center {
    text-align: center;
}

.weight-light {
    font-weight: 300;
}

.text-gradient {
    background-clip: text;
    background: linear-gradient(
        223deg,
        $primary-light 0%,
        $primary-dark 93.37%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text-balance {
    text-wrap: balance;
}

.text-white {
    background-clip: text;
    background: $white-light;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    // font-weight: bold;
}

.h0 {
    font-size: 110px;
    line-height: 100%;

    @include responsive(m) {
        font-size: 96px;
        line-height: 100%;
    }

    @include responsive(s) {
        font-size: 84px;
        line-height: 120%;
    }
    @include responsive(xxs) {
        font-size: 56px;
        line-height: 120%;
    }
}
